In [1]:
import pandas as pd
import numpy as np
import os
pd.options.display.max_columns = 999
pd.options.display.max_rows = 999

In [2]:
#Reading datasets
burea = pd.read_csv('bureau.csv')
bureau_balance = pd.read_csv('bureau_balance.csv')

##### Imputing DAYS_CREDIT_ENDDATE

In [3]:
burea['DAYS_CREDIT_ENDDATE'] = np.where(burea['DAYS_CREDIT_ENDDATE'].isnull(),
                                    np.where(burea['DAYS_ENDDATE_FACT'].isnull(),burea['DAYS_CREDIT_ENDDATE'],
                                            burea['DAYS_ENDDATE_FACT']),burea['DAYS_CREDIT_ENDDATE'])

In [4]:
burea[(burea['AMT_ANNUITY'].isnull()) & (burea['CREDIT_ACTIVE']=="Active")].tail()

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
1716404,166279,5057599,Active,currency 1,-99,0,997.0,NaN,0.0,0,450000.0,432787.5,0.0,0.0,Consumer credit,-7,NaN
1716410,280228,5057642,Active,currency 1,-575,0,813.0,NaN,NaN,0,67500.0,0.0,0.0,0.0,Credit card,-46,NaN
1716412,288038,5057657,Active,currency 1,-541,0,7.0,NaN,NaN,0,225000.0,10971.0,0.0,0.0,Consumer credit,-11,NaN
1716417,433007,5057703,Active,currency 1,-740,0,31128.0,NaN,NaN,0,67500.0,2466.0,NaN,0.0,Credit card,-433,NaN
1716423,259355,5057750,Active,currency 1,-44,0,-30.0,NaN,0.0,0,11250.0,11250.0,0.0,0.0,Microloan,-19,NaN

In [5]:
burea[(burea['CREDIT_ACTIVE']=="Closed") & (burea['DAYS_ENDDATE_FACT'].isnull())]

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
9970,199879,5726601,Closed,currency 1,-877,0,967.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-540,NaN
13087,176924,6022336,Closed,currency 1,-1129,0,727.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-515,NaN
37106,419399,5808793,Closed,currency 1,-745,0,1087.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-407,NaN
38552,415650,5810529,Closed,currency 1,-942,0,903.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-421,NaN
60134,361772,5238629,Closed,currency 1,-791,0,1046.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-423,NaN
64563,444932,5003604,Closed,currency 1,-1099,0,736.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-14,NaN
66304,417999,5005613,Closed,currency 1,-1325,0,524.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-14,NaN
79896,223359,5258669,Closed,currency 1,-1115,0,720.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-413,0.000
113246,380773,6031181,Closed,currency 1,-1120,0,730.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-539,NaN
115425,154642,5010147,Closed,currency 1,-681,0,1147.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-525,37525.500
145228,148800,6544460,Closed,currency 1,-685,0,1153.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-499,NaN
147782,440042,6547460,Closed,currency 1,-598,0,1257.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-564,NaN
174829,164273,5698971,Closed,currency 1,-857,0,976.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-396,NaN
242542,102587,5794761,Closed,currency 1,-1499,0,-398.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-400,0.000
262268,115423,5933276,Closed,currency 1,-1102,0,745.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-551,NaN
263764,115423,5933275,Closed,currency 1,-1102,0,745.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-551,NaN
265388,101074,5884489,Closed,currency 1,-820,0,1244.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-483,21600.000
265389,101074,5884490,Closed,currency 1,-820,0,1244.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-483,21600.000
286484,430689,5868070,Closed,currency 1,-901,0,949.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-534,NaN
287619,280634,5852048,Closed,currency 1,-1062,0,766.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-451,0.000
310847,128769,5859593,Closed,currency 1,-489,0,1364.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-456,NaN
311216,240977,5860040,Closed,currency 1,-1190,0,659.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-456,NaN
350433,432616,5963448,Closed,currency 1,-853,0,991.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-576,NaN
363819,210321,6829958,Closed,currency 1,-1063,0,768.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-451,NaN
420413,163552,5740697,Closed,currency 1,-757,0,1098.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-388,NaN
431371,279258,6835766,Closed,currency 1,-1010,0,842.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-516,NaN
456366,236558,5037851,Closed,currency 1,-805,0,1021.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-435,NaN
465609,338833,6558543,Closed,currency 1,-1098,0,755.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-577,NaN
478463,162078,5111696,Closed,currency 1,-1003,0,830.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-392,NaN
493219,288551,5094748,Closed,currency 1,-772,0,1066.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-404,NaN
525563,185905,6296537,Closed,currency 1,-766,0,1071.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-550,NaN
547008,354561,6442609,Closed,currency 1,-896,0,935.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-590,NaN
555008,150159,6395148,Closed,currency 1,-879,0,954.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-543,NaN
555452,109356,6395671,Closed,currency 1,-1041,0,801.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-551,NaN
582802,341751,6449525,Closed,currency 1,-870,0,963.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-409,NaN
584576,301274,6451631,Closed,currency 1,-836,0,1007.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-561,NaN
588359,329471,6220831,Closed,currency 1,-925,0,914.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-464,4630.500
590144,220614,5491738,Closed,currency 1,-613,0,1227.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-581,NaN
593355,343617,6778105,Closed,currency 1,-630,0,1223.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-383,NaN
606869,427048,6465616,Closed,currency 1,-832,0,1025.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-582,NaN
609303,377744,6468554,Closed,currency 1,-799,0,1044.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-492,0.000
611138,187106,6470655,Closed,currency 1,-806,0,1026.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-399,NaN
611790,330593,6398115,Closed,currency 1,-683,0,435.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-466,NaN
614356,293163,6401131,Closed,currency 1,-882,0,972.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-390,NaN
616097,229968,6403206,Closed,currency 1,-777,0,1063.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-408,NaN
623314,394493,5688213,Closed,currency 1,-819,0,1037.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-388,NaN
640184,288066,6231222,Closed,currency 1,-934,0,904.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-535,2700.000
640396,416781,6231458,Closed,currency 1,-1018,0,812.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-529,30600.000
671355,454886,6153657,Closed,currency 1,-589,0,1239.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-526,NaN
676708,374602,5153075,Closed,currency 1,-949,0,891.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-399,NaN
681537,224307,5306289,Closed,currency 1,-768,0,1081.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-399,NaN
689126,323521,5315617,Closed,currency 1,-642,0,1203.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-367,NaN
703102,262160,5470051,Closed,currency 1,-684,0,1169.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-407,NaN
703103,262160,5470052,Closed,currency 1,-684,0,1169.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-406,NaN
715654,423508,6487530,Closed,currency 1,-1490,0,-381.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-421,NaN
755474,391593,5503015,Closed,currency 1,-682,0,1161.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-406,NaN
765881,268342,6345372,Closed,currency 1,-425,0,1406.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-392,NaN
778439,128525,6265863,Closed,currency 1,-753,0,1102.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-384,NaN
796335,330514,6034177,Closed,currency 1,-468,0,1383.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-371,NaN
803287,229136,6511373,Closed,currency 1,-1163,0,692.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-398,NaN
825432,285550,6351910,Closed,currency 1,-838,0,1007.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-471,4500.000
828654,109047,6355792,Closed,currency 1,-1239,0,611.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-382,NaN
831401,292334,6358939,Closed,currency 1,-624,0,1215.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-590,NaN
849996,166224,6053067,Closed,currency 1,-1116,0,728.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-535,NaN
850276,202677,6053387,Closed,currency 1,-1072,0,758.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-521,5175.000
869260,164213,6521479,Closed,currency 1,-837,0,995.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-469,NaN
873853,203339,6279287,Closed,currency 1,-625,0,1227.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-11,NaN
912984,299032,5677609,Closed,currency 1,-785,0,1064.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-478,7410.015
915530,253764,5065765,Closed,currency 1,-734,0,1163.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-398,0.000
925279,223998,5118164,Closed,currency 1,-871,0,968.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-411,0.000
943327,260380,6207871,Closed,currency 1,-942,0,898.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-512,0.000
950600,397958,5988542,Closed,currency 1,-1017,0,833.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-497,0.000
956963,379402,6240529,Closed,currency 1,-812,0,1017.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-475,NaN
968781,115413,6765556,Closed,currency 1,-1346,0,506.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-552,NaN
993348,172092,6425858,Closed,currency 1,-657,0,1179.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-441,NaN
1000700,423190,5452755,Closed,currency 1,-600,0,1230.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-384,NaN
1022036,291904,5923737,Closed,currency 1,-952,0,876.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-463,NaN
1029168,148800,5891204,Closed,currency 1,-685,0,1153.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-499,0.000
1035758,267284,6772169,Closed,currency 1,-1058,0,774.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-7,NaN
1038659,315231,6775616,Closed,currency 1,-1053,0,791.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-533,NaN
1039560,103551,5765801,Closed,currency 1,-568,0,1288.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-533,NaN
1067941,260219,6246539,Closed,currency 1,-788,0,1050.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-420,NaN
1071850,274278,6191956,Closed,currency 1,-727,0,1101.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-390,NaN
1072133,265338,6192291,Closed,currency 1,-743,0,1101.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-376,9755.190
1081592,228907,6217413,Closed,currency 1,-986,0,870.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-555,NaN
1082408,215889,6218346,Closed,currency 1,-952,0,883.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-581,NaN
1082712,188313,6218689,Closed,currency 1,-795,0,1034.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-579,NaN
1101120,433800,5776111,Closed,currency 1,-788,0,1056.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-572,NaN
1106816,281702,6179501,Closed,currency 1,-680,0,1157.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-404,NaN
1107181,335801,6179942,Closed,currency 1,-1118,0,730.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-385,NaN
1147848,104824,5606783,Closed,currency 1,-466,0,1378.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-433,NaN
1154816,330097,6184580,Closed,currency 1,-749,0,1092.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-413,0.000
1164639,427757,6195847,Closed,currency 1,-607,0,1227.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-388,14049.000
1167069,349729,6198794,Closed,currency 1,-441,0,1407.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-408,NaN
1190957,166927,5293497,Closed,currency 1,-840,0,990.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-411,NaN
1216043,127220,5644472,Closed,currency 1,-779,0,1071.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-409,NaN
1217137,334033,5645750,Closed,currency 1,-820,0,1027.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-543,NaN
1217138,334033,5645751,Closed,currency 1,-820,0,1027.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-543,NaN
1225154,371156,5620529,Closed,currency 1,-736,0,1098.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-673,NaN
1245866,338193,5961448,Closed,currency 1,-608,0,1244.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-575,NaN
1249082,235423,6614657,Closed,currency 1,-1020,0,821.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-589,NaN
1334785,203474,6601402,Closed,currency 1,-680,0,1160.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-556,NaN
1346563,288185,6626134,Closed,currency 1,-828,0,1022.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-458,NaN
1346645,419312,6626231,Closed,currency 1,-723,0,1112.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-478,NaN
1346964,453773,6626618,Closed,currency 1,-661,0,1171.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-474,NaN
1372589,285988,5381887,Closed,currency 1,-809,0,1047.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-409,NaN
1387494,170859,6603522,Closed,currency 1,-866,0,967.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-405,23490.000
1421057,446466,6734309,Closed,currency 1,-996,0,858.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-15,NaN
1422835,410166,6736360,Closed,currency 1,-846,0,1003.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-722,NaN
1434263,106729,6722508,Closed,currency 1,-775,0,1080.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-526,NaN
1471006,375735,5978588,Closed,currency 1,-824,0,1015.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-517,NaN
1477327,272191,5350133,Closed,currency 1,-680,0,1161.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-402,39712.500
1480339,244503,5353743,Closed,currency 1,-593,0,1248.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-527,12010.500
1502176,279448,5984964,Closed,currency 1,-841,0,1005.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-565,NaN
1505124,397958,5988541,Closed,currency 1,-834,0,1017.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-497,NaN
1505339,222276,5993337,Closed,currency 1,-908,0,931.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-568,NaN
1515352,222296,6707117,Closed,currency 1,-593,0,1253.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-560,NaN
1548870,128915,6726702,Closed,currency 1,-882,0,972.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-575,NaN
1573759,279621,5758025,Closed,currency 1,-1488,0,-381.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-420,NaN
1583505,312088,6343419,Closed,currency 1,-1014,0,839.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-585,NaN
1606901,412945,5343292,Closed,currency 1,-1101,0,738.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-549,NaN
1608855,339094,6685258,Closed,currency 1,-1043,0,795.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-491,NaN
1612915,422738,6689975,Closed,currency 1,-1080,0,757.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-529,0.000
1615756,353346,6509415,Closed,currency 1,-1117,0,716.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-405,NaN
1635853,105692,5764075,Closed,currency 1,-1430,0,-332.0,NaN,NaN,0,0.0,0.0,NaN,0.0,Credit card,-575,NaN

In [6]:
#Impute DAYS_ENDDATE_FACT for Closed with 1.25*DAYS_CREDIT_ENDDATE
burea['DAYS_ENDDATE_FACT'] = np.where(burea['CREDIT_ACTIVE']=="Closed",np.where(burea['DAYS_ENDDATE_FACT'].isnull(),
                                                                               burea['DAYS_CREDIT_ENDDATE'],
                                                                               burea['DAYS_ENDDATE_FACT']),
                                      burea['DAYS_ENDDATE_FACT'])
#For bad debt DAYS_ENDDATE_FACT 0.75 * DAYS_CREDIT_ENDDATE
burea['DAYS_ENDDATE_FACT'] = np.where(burea['CREDIT_ACTIVE']=="Bad debt",np.where(burea['DAYS_ENDDATE_FACT'].isnull(),
                                                                               0.75*burea['DAYS_CREDIT_ENDDATE'],
                                                                               burea['DAYS_ENDDATE_FACT']),
                                      burea['DAYS_ENDDATE_FACT'])

In [7]:
#AMT_CREDIT_SUM_DEBT
amt_credit_sum_debt = burea.groupby(['SK_ID_CURR'])['AMT_CREDIT_SUM_DEBT'].max()
amt_credit_sum_debt = amt_credit_sum_debt.reset_index()
amt_credit_sum_debt = amt_credit_sum_debt.rename(columns = {'AMT_CREDIT_SUM_DEBT':'AMT_CREDIT_SUM_DEBT_MAX',})
burea = pd.merge(burea,amt_credit_sum_debt,how='left',on=['SK_ID_CURR'])
burea['AMT_CREDIT_SUM_DEBT']=np.where(burea['AMT_CREDIT_SUM_DEBT'].isnull(),burea['AMT_CREDIT_SUM_DEBT_MAX'],burea['AMT_CREDIT_SUM_DEBT'])

In [8]:
#AMT_CREDIT_SUM_LIMIT
amt_credit_sum_limit = burea.groupby(['SK_ID_CURR'])['AMT_CREDIT_SUM_LIMIT'].max()
amt_credit_sum_limit = amt_credit_sum_limit.reset_index()
amt_credit_sum_limit = amt_credit_sum_limit.rename(columns = {'AMT_CREDIT_SUM_LIMIT':'AMT_CREDIT_SUM_LIMIT_MAX',})
burea = pd.merge(burea,amt_credit_sum_limit,how='left',on=['SK_ID_CURR'])
burea['AMT_CREDIT_SUM_LIMIT']=np.where(burea['AMT_CREDIT_SUM_LIMIT'].isnull(),burea['AMT_CREDIT_SUM_LIMIT_MAX'],burea['AMT_CREDIT_SUM_LIMIT'])

In [9]:
#AMT_CREDIT_MAX_OVERDUE per customer
amt_credit_max_overdue = burea.groupby(['SK_ID_CURR'])['AMT_CREDIT_MAX_OVERDUE'].max()
amt_credit_max_overdue = amt_credit_max_overdue.reset_index()
amt_credit_max_overdue = amt_credit_max_overdue.rename(columns = {'AMT_CREDIT_MAX_OVERDUE':'AMT_CREDIT_MAX_OVERDUE_MAX',})
burea = pd.merge(burea,amt_credit_max_overdue,how='left',on=['SK_ID_CURR'])
burea['AMT_CREDIT_MAX_OVERDUE']=np.where(burea['AMT_CREDIT_MAX_OVERDUE'].isnull(),burea['AMT_CREDIT_MAX_OVERDUE_MAX'],burea['AMT_CREDIT_MAX_OVERDUE'])

In [10]:
#AMT_ANNUITY per customer
amt_annuity = burea.groupby(['SK_ID_CURR'])['AMT_ANNUITY'].sum()
amt_annuity = amt_annuity.reset_index()
amt_annuity = amt_annuity.rename(columns = {'AMT_ANNUITY':'AMT_ANNUITY_SUM',})
burea = pd.merge(burea,amt_annuity,how='left',on=['SK_ID_CURR'])
burea['AMT_ANNUITY_SUM']=np.where(burea['AMT_ANNUITY'].isnull(),burea['AMT_ANNUITY_SUM'],burea['AMT_ANNUITY'])

In [11]:
burea = burea.drop(columns=['AMT_CREDIT_SUM_DEBT_MAX','AMT_CREDIT_SUM_LIMIT_MAX','AMT_CREDIT_MAX_OVERDUE_MAX','AMT_ANNUITY'],axis =1)

In [12]:
burea.shape

(1716428, 17)

In [13]:
#Droping one bad record with null END DATE
burea = burea.drop(burea[(burea['CREDIT_ACTIVE']=="Bad debt") & (burea['DAYS_CREDIT_ENDDATE'].isnull())].index)

In [14]:
#Encoding categorical variables
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
def encoding_cat_vars(df,le):
    le_count = 0
    one_hot_count = 0
    # Iterate through the columns
    for col in df:
        if df[col].dtype == 'object' or df[col].dtype =='bool' :
            # If 2 or fewer unique categories
            if len(list(df[col].unique())) <= 2:
                # Train on the training data
                le.fit(df[col])
                # Transform both training and testing data
                df[col] = le.transform(df[col])    
                # Keep track of how many columns were label encoded
                le_count += 1
            else:
                one_hot_count +=1
    print ("no of columns label encoded : "+str(le_count))
    #One Hot encoding
    df = pd.get_dummies(df)
    print ("no of columns one hot encoded encoded : "+str(one_hot_count))
    return df

In [15]:
## Missing values###########
def missing_values_table(df):
        # Total missing values
        mis_val = df.isnull().sum()
        
        # Percentage of missing values
        mis_val_percent = 100 * df.isnull().sum() / len(df)
        
        # Make a table with the results
        mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
        
        # Rename the columns
        mis_val_table_ren_columns = mis_val_table.rename(
        columns = {0 : 'Missing Values', 1 : '% of Total Values'})
        
        # Sort the table by percentage of missing descending
        mis_val_table_ren_columns = mis_val_table_ren_columns[
            mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
        '% of Total Values', ascending=False).round(1)
        
        # Print some summary information
        print ("Your selected dataframe has " + str(df.shape[1]) + " columns.\n"      
            "There are " + str(mis_val_table_ren_columns.shape[0]) +
              " columns that have missing values.")
        
        # Return the dataframe with missing information
        return mis_val_table_ren_columns
###############################

In [16]:
#Removing highly correlated field in TMP_APP_TRAIN & TEST
def cor_find(df,threshold):
    corr_matrix = df.corr().abs()
    upper = corr_matrix.where(np.triu(np.ones(corr_matrix.shape), k=1).astype(np.bool))
    to_drop = [column for column in upper.columns if any(upper[column] > threshold)]
    return corr_matrix,upper,to_drop

In [17]:
#Check for missing values
missing_values = missing_values_table(burea)
missing_values['column_name'] = missing_values.index
missing_values = missing_values.reset_index(drop = True)
missing_values

Your selected dataframe has 17 columns.
There are 6 columns that have missing values.

   Missing Values  % of Total Values             column_name
0          633517               36.9       DAYS_ENDDATE_FACT
1          306029               17.8  AMT_CREDIT_MAX_OVERDUE
2           72763                4.2     DAYS_CREDIT_ENDDATE
3           56230                3.3    AMT_CREDIT_SUM_LIMIT
4           13559                0.8     AMT_CREDIT_SUM_DEBT
5              13                0.0          AMT_CREDIT_SUM

##### Check for SK_ID_CURR with AMT_CREDIT_SUM missing present in test data set

In [18]:
sk_id_curr = list(burea[burea['AMT_CREDIT_SUM'].isnull()]['SK_ID_CURR'].unique())

In [19]:
app_test = pd.read_csv('application_test.csv')

In [20]:
len(app_test[app_test['SK_ID_CURR'].isin(sk_id_curr)])

10

##### AMT_CREDIT_SUM missing for 13 applicants. add a NAN FLAG

In [21]:
burea['AMT_CREDIT_SUM_NAN'] = np.where(burea['AMT_CREDIT_SUM'].isnull(),1,0)
burea_amt_credit_sum = burea[['SK_ID_CURR','AMT_CREDIT_SUM_NAN',
                   'AMT_CREDIT_SUM']].groupby(['SK_ID_CURR']).max().reset_index()

In [22]:
burea['DAYS_CREDIT_ENDDATE'] = np.where(burea['CREDIT_ACTIVE']=="Closed",np.where(burea['DAYS_CREDIT_ENDDATE'].isnull(),
                                                                               burea['DAYS_ENDDATE_FACT'],
                                                                               burea['DAYS_CREDIT_ENDDATE']),
                                      burea['DAYS_CREDIT_ENDDATE'])

In [23]:
# Create an anomalous flag column and impute median to all null values
burea['DAYS_CREDIT_ENDDATE_NA'] = burea["DAYS_CREDIT_ENDDATE"].isnull()
burea['DAYS_ENDDATE_FACT_NA'] = burea["DAYS_ENDDATE_FACT"].isnull()
burea['AMT_CREDIT_MAX_OVERDUE_NA'] = burea["AMT_CREDIT_MAX_OVERDUE"].isnull()
burea['AMT_CREDIT_SUM_LIMIT_NA'] = burea["AMT_CREDIT_SUM_LIMIT"].isnull()
burea['AMT_CREDIT_SUM_DEBT_NA'] = burea["AMT_CREDIT_SUM_DEBT"].isnull()

burea["DAYS_CREDIT_ENDDATE"] = burea["DAYS_CREDIT_ENDDATE"].fillna(burea["DAYS_CREDIT_ENDDATE"].median())
burea["DAYS_ENDDATE_FACT"] = burea["DAYS_ENDDATE_FACT"].fillna(burea["DAYS_ENDDATE_FACT"].median())
burea["AMT_CREDIT_MAX_OVERDUE"] = burea["AMT_CREDIT_MAX_OVERDUE"].fillna(burea["DAYS_CREDIT_ENDDATE"].median())
burea["AMT_CREDIT_SUM_LIMIT"] = burea["AMT_CREDIT_SUM_LIMIT"].fillna(burea["AMT_CREDIT_SUM_LIMIT"].median())
burea["AMT_CREDIT_SUM_DEBT"] = burea["AMT_CREDIT_SUM_DEBT"].fillna(burea["AMT_CREDIT_SUM_DEBT"].median())

In [24]:
#burea = burea.dropna(subset=['AMT_CREDIT_SUM','AMT_CREDIT_SUM_OVERDUE','CREDIT_TYPE','DAYS_CREDIT_UPDATE'])

In [25]:
burea.head()

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY_SUM,AMT_CREDIT_SUM_NAN,DAYS_CREDIT_ENDDATE_NA,DAYS_ENDDATE_FACT_NA,AMT_CREDIT_MAX_OVERDUE_NA,AMT_CREDIT_SUM_LIMIT_NA,AMT_CREDIT_SUM_DEBT_NA
0,215354,5714462,Closed,currency 1,-497,0,-153.0,-153.0,77674.5,0,91323.0,0.0,108982.62,0.0,Consumer credit,-131,0.0,0,False,False,False,False,False
1,215354,5714463,Active,currency 1,-208,0,1075.0,-897.0,77674.5,0,225000.0,171342.0,108982.62,0.0,Credit card,-20,0.0,0,False,True,False,False,False
2,215354,5714464,Active,currency 1,-203,0,528.0,-897.0,77674.5,0,464323.5,171342.0,108982.62,0.0,Consumer credit,-16,0.0,0,False,True,False,False,False
3,215354,5714465,Active,currency 1,-203,0,-331.0,-897.0,77674.5,0,90000.0,171342.0,108982.62,0.0,Credit card,-16,0.0,0,True,True,False,False,False
4,215354,5714466,Active,currency 1,-629,0,1197.0,-897.0,77674.5,0,2700000.0,171342.0,108982.62,0.0,Consumer credit,-21,0.0,0,False,True,False,False,False

In [26]:
corr_matrix,upper,to_drop = cor_find(burea,0.985)
upper['DAYS_ENDDATE_FACT'].sort_values(ascending=False).head()

DAYS_CREDIT            0.710204
DAYS_CREDIT_ENDDATE    0.146643
SK_ID_BUREAU           0.014040
CREDIT_DAY_OVERDUE     0.001899
SK_ID_CURR             0.000516
Name: DAYS_ENDDATE_FACT, dtype: float64

In [27]:
#Find number of burea information per client
burea_cnt = burea.groupby(['SK_ID_CURR'])['SK_ID_BUREAU'].count()
burea_cnt = burea_cnt.to_frame().reset_index()
burea_cnt = burea_cnt.rename(columns={'SK_ID_BUREAU':'CNT_BUREA'})
burea_cnt.head(2)

   SK_ID_CURR  CNT_BUREA
0      100001          7
1      100002          8

In [28]:
burea.head()

,SK_ID_CURR,SK_ID_BUREAU,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY_SUM,AMT_CREDIT_SUM_NAN,DAYS_CREDIT_ENDDATE_NA,DAYS_ENDDATE_FACT_NA,AMT_CREDIT_MAX_OVERDUE_NA,AMT_CREDIT_SUM_LIMIT_NA,AMT_CREDIT_SUM_DEBT_NA
0,215354,5714462,Closed,currency 1,-497,0,-153.0,-153.0,77674.5,0,91323.0,0.0,108982.62,0.0,Consumer credit,-131,0.0,0,False,False,False,False,False
1,215354,5714463,Active,currency 1,-208,0,1075.0,-897.0,77674.5,0,225000.0,171342.0,108982.62,0.0,Credit card,-20,0.0,0,False,True,False,False,False
2,215354,5714464,Active,currency 1,-203,0,528.0,-897.0,77674.5,0,464323.5,171342.0,108982.62,0.0,Consumer credit,-16,0.0,0,False,True,False,False,False
3,215354,5714465,Active,currency 1,-203,0,-331.0,-897.0,77674.5,0,90000.0,171342.0,108982.62,0.0,Credit card,-16,0.0,0,True,True,False,False,False
4,215354,5714466,Active,currency 1,-629,0,1197.0,-897.0,77674.5,0,2700000.0,171342.0,108982.62,0.0,Consumer credit,-21,0.0,0,False,True,False,False,False

In [29]:
burea_cat = burea[['SK_ID_CURR','CREDIT_ACTIVE','CREDIT_CURRENCY','CREDIT_TYPE']]
burea_cat = encoding_cat_vars(burea_cat,le)
#Taking count of each categorial variables per CURR ID
burea_cat = burea_cat.groupby(['SK_ID_CURR']).sum()
burea_cat = burea_cat.reset_index()
burea_cat = pd.merge(burea_cat,burea_cnt,how='left',on=['SK_ID_CURR'])

no of columns label encoded : 0
no of columns one hot encoded encoded : 3

In [30]:
#Burea balance
bureau_balance_latest = bureau_balance.groupby(['SK_ID_BUREAU'])['MONTHS_BALANCE'].max()
bureau_balance_latest = bureau_balance_latest.to_frame().reset_index()
bureau_balance_status = bureau_balance.drop(columns = 'MONTHS_BALANCE')
bureau_balance_status = encoding_cat_vars(bureau_balance_status,le)
bureau_balance_status = bureau_balance_status.groupby(['SK_ID_BUREAU']).sum()
bureau_balance_status = bureau_balance_status.reset_index()

no of columns label encoded : 0
no of columns one hot encoded encoded : 1

In [31]:
bureau_balance_latest = pd.merge(bureau_balance,bureau_balance_latest,how='inner',on=['SK_ID_BUREAU','MONTHS_BALANCE'])
bureau_balance_latest = bureau_balance_latest.rename(columns={'STATUS':'LATEST_STATUS'})
bureau_balance_latest = encoding_cat_vars(bureau_balance_latest,le)
bureau_balance_latest = bureau_balance_latest.drop(columns = ['MONTHS_BALANCE'])

no of columns label encoded : 0
no of columns one hot encoded encoded : 1

In [32]:
#count months balance
bureau_balance_month = bureau_balance.drop(columns=['STATUS'],axis =1)
bureau_balance_month = bureau_balance_month.groupby(['SK_ID_BUREAU']).count()
bureau_balance_month = bureau_balance_month.reset_index().rename(columns={'MONTHS_BALANCE':'BUREAU_MONTHS'})
#bureau_balance_month.head(2)

In [33]:
#Adding burea_months to Burea file , Imputing 0 to null records
burea = pd.merge(burea,bureau_balance_month,on=['SK_ID_BUREAU'],how='left')
#burea['BUREAU_MONTHS'] = burea['BUREAU_MONTHS'].fillna(0)

In [34]:
#Adding burea count statuses and latest status to Burea file , Imputing -1 to null records

In [35]:
burea = pd.merge(burea,bureau_balance_latest,on=['SK_ID_BUREAU'],how='left')
burea = pd.merge(burea,bureau_balance_status,on=['SK_ID_BUREAU'],how='left')

In [36]:
burea = pd.merge(burea,burea_cat,on=['SK_ID_CURR'],how='left')
burea = burea.drop(columns=['CREDIT_ACTIVE','CREDIT_CURRENCY','CREDIT_TYPE'])

In [ ]:
burea.head(2)

In [37]:
#Count status per SK_ID_CURR
burea_stat_count = burea[['SK_ID_CURR','STATUS_0','STATUS_1','STATUS_2','STATUS_3','STATUS_4','STATUS_5','STATUS_C','STATUS_X']]
burea_stat_count = burea_stat_count.groupby(['SK_ID_CURR']).sum()
burea_stat_count = burea_stat_count.reset_index()
burea = burea.drop(columns=['STATUS_0','STATUS_1','STATUS_2','STATUS_3','STATUS_4','STATUS_5','STATUS_C','STATUS_X'])
burea = pd.merge(burea,burea_stat_count,on=['SK_ID_CURR'],how='left')

In [38]:
#Fetch one record per client (latest)
burea_latest = burea[['SK_ID_CURR','DAYS_CREDIT_UPDATE']]
burea_latest = burea_latest.groupby(['SK_ID_CURR']).max().reset_index()
burea_latest = pd.merge(burea,burea_latest,on=['SK_ID_CURR','DAYS_CREDIT_UPDATE'],how='inner')

In [39]:
burea_latest.groupby(['SK_ID_CURR'])['DAYS_CREDIT_UPDATE'].count().reset_index()[burea_latest.groupby(['SK_ID_CURR'])['DAYS_CREDIT_UPDATE'].count().reset_index()['DAYS_CREDIT_UPDATE']>1].head(2)

    SK_ID_CURR  DAYS_CREDIT_UPDATE
13      100016                   2
44      100055                   3

In [ ]:
burea_latest[burea_latest['SK_ID_CURR']==100016]

In [40]:
#Check for missing values
missing_values = missing_values_table(burea_latest)
missing_values['column_name'] = missing_values.index
missing_values = missing_values.reset_index(drop = True)
missing_values

Your selected dataframe has 61 columns.
There are 10 columns that have missing values.

   Missing Values  % of Total Values      column_name
0          196086               56.5    BUREAU_MONTHS
1          196086               56.5  LATEST_STATUS_0
2          196086               56.5  LATEST_STATUS_1
3          196086               56.5  LATEST_STATUS_2
4          196086               56.5  LATEST_STATUS_3
5          196086               56.5  LATEST_STATUS_4
6          196086               56.5  LATEST_STATUS_5
7          196086               56.5  LATEST_STATUS_C
8          196086               56.5  LATEST_STATUS_X
9               5                0.0   AMT_CREDIT_SUM

In [ ]:
#corr_matrix,upper,to_drop = cor_find(burea_latest,0.8)
#upper['DAYS_ENDDATE_FACT'].sort_values(ascending=False).head()

In [ ]:
#upper['AMT_CREDIT_SUM_LIMIT'].sort_values(ascending=False).head()

In [49]:
burea_latest.shape

(305811, 61)

In [ ]:
# burea_latest = burea_latest.dropna(subset=['AMT_CREDIT_SUM'])

In [57]:
burea_latest.shape

(305811, 65)

In [43]:
tmp_burea_latest = burea_latest.copy()

In [44]:
burea_latest = burea_latest.groupby(['SK_ID_CURR']).max().reset_index()

In [46]:
tmp_burea_latest = tmp_burea_latest[['SK_ID_CURR','AMT_CREDIT_SUM']]

In [47]:
tmp_burea_mean = tmp_burea_latest.groupby(['SK_ID_CURR']).mean().reset_index()
tmp_burea_mean = tmp_burea_mean.rename(columns={'AMT_CREDIT_SUM':'MEAN_AMT_CREDIT_SUM'})

In [48]:
tmp_burea_sum = tmp_burea_latest.groupby(['SK_ID_CURR']).sum().reset_index()
tmp_burea_sum = tmp_burea_sum.rename(columns={'AMT_CREDIT_SUM':'SUM_AMT_CREDIT_SUM'})

In [51]:
tmp_burea_latest = pd.merge(tmp_burea_sum,tmp_burea_mean,on=['SK_ID_CURR'],how='inner')

In [52]:
burea_latest = pd.merge(burea_latest,tmp_burea_latest,on=['SK_ID_CURR'],how='inner')

In [54]:
burea_latest[burea_latest['AMT_CREDIT_SUM'].isnull()]

,SK_ID_CURR,SK_ID_BUREAU,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,DAYS_CREDIT_UPDATE,AMT_ANNUITY_SUM,AMT_CREDIT_SUM_NAN,DAYS_CREDIT_ENDDATE_NA,DAYS_ENDDATE_FACT_NA,AMT_CREDIT_MAX_OVERDUE_NA,AMT_CREDIT_SUM_LIMIT_NA,AMT_CREDIT_SUM_DEBT_NA,BUREAU_MONTHS,LATEST_STATUS_0,LATEST_STATUS_1,LATEST_STATUS_2,LATEST_STATUS_3,LATEST_STATUS_4,LATEST_STATUS_5,LATEST_STATUS_C,LATEST_STATUS_X,CREDIT_ACTIVE_Active,CREDIT_ACTIVE_Bad debt,CREDIT_ACTIVE_Closed,CREDIT_ACTIVE_Sold,CREDIT_CURRENCY_currency 1,CREDIT_CURRENCY_currency 2,CREDIT_CURRENCY_currency 3,CREDIT_CURRENCY_currency 4,CREDIT_TYPE_Another type of loan,CREDIT_TYPE_Car loan,CREDIT_TYPE_Cash loan (non-earmarked),CREDIT_TYPE_Consumer credit,CREDIT_TYPE_Credit card,CREDIT_TYPE_Interbank credit,CREDIT_TYPE_Loan for business development,CREDIT_TYPE_Loan for purchase of shares (margin lending),CREDIT_TYPE_Loan for the purchase of equipment,CREDIT_TYPE_Loan for working capital replenishment,CREDIT_TYPE_Microloan,CREDIT_TYPE_Mobile operator loan,CREDIT_TYPE_Mortgage,CREDIT_TYPE_Real estate loan,CREDIT_TYPE_Unknown type of loan,CNT_BUREA,STATUS_0,STATUS_1,STATUS_2,STATUS_3,STATUS_4,STATUS_5,STATUS_C,STATUS_X,SUM_AMT_CREDIT_SUM,MEAN_AMT_CREDIT_SUM
44248,151540,5953196,-1067,0,777.0,-897.0,-331.0,0,NaN,0.0,0.0,0.0,-14,31234.5,1,False,True,True,True,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
273336,418331,6064357,0,0,-331.0,-897.0,-331.0,0,NaN,2250000.0,0.0,0.0,-16,0.0,1,True,True,True,True,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
279877,425959,6388671,0,0,-331.0,-897.0,-331.0,0,NaN,185926.5,0.0,0.0,-3,0.0,1,True,True,True,True,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,1,0,2,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,2,12.0,0.0,0.0,0.0,0.0,0.0,32.0,1.0,0.0,NaN

In [55]:
burea_amt_credit_sum = burea_amt_credit_sum.rename(columns={'AMT_CREDIT_SUM':'AMT_CREDIT_SUM_MAX'})

In [56]:
burea_latest = pd.merge(burea_latest,burea_amt_credit_sum,on=['SK_ID_CURR'],how='inner')

In [58]:
burea_latest = encoding_cat_vars(burea_latest,le)

no of columns label encoded : 5
no of columns one hot encoded encoded : 0

In [59]:
#Fill null status with -1
burea_latest = burea_latest.fillna(-1)

In [61]:
burea_latest.shape

(305811, 65)

In [62]:
burea_latest.to_csv('tmp_burea.csv',index=False)